<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the popular kids club, <%= @user.name %></h1>
    <p>
      Start spreading those rumours now, let's ruin some lives!
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to 'login', @url %>
    </p>
    <p>Thanks for joining and have a great day at someone else's expense!</p>
  </body>
</html>